.login_form {
    margin: auto;
    border: 1px solid black;
    background-image: linear-gradient(rgba(26, 35, 126, 0.3), rgba(106, 27, 154, 0.5));
    box-shadow: 5px 5px 3px;
    border-radius: 20px;
    width: 400px;
    padding-top: px;
}
.current_user {
    display: flex;
    flex-direction: column;
}
.submit_new_user {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.current_user > h2 {
    color: rgb(221, 201, 201);
    margin: auto;
}
.current_user > input {
    width: 60%;
}
.submit_new_user > input {
    min-width: 100px;
}
.alert {
    width: 100%;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    background-image:  linear-gradient(rgba(229, 57, 53, 0.4), rgba(106, 27, 154, 0.4));
}
.alert > h2 {
    text-align: center;
    color: rgb(202, 172, 172);
    font-size: 130%;
    padding: 8px;
}