.input-field {
    text-align: center;
    border: 1px solid black;
    background-image: linear-gradient(rgba(26, 35, 126, 0.3), rgba(106, 27, 154, 0.5));
    box-shadow: 5px 5px 3px;
    border-radius: 20px;
};