.render_inputs {
    display: flex;
    flex-direction: column;
    position: relative;
    top: 5%;
    width: 30%;
    margin: auto;
    border: 1px solid black;
    box-shadow: 5px 5px 3px;
    border-radius: 20px;
}
.average_values {
    text-align: center;
    border-bottom: 1px solid black;
    background-image: linear-gradient(rgba(26, 35, 126, 0.3), rgba(106, 27, 154, 0.5));
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}
.table_container {
    display: table;
    padding-top: 0;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    background-image: linear-gradient(rgba(26, 35, 126, 0.3), rgba(106, 27, 154, 0.5));
}
.last_ten_values_render {
    text-align: center;
    color: rgb(233, 216, 216);
    font: 50%;
    border-bottom: 2px solid rgb(40, 7, 73);
    padding: 5px 0;
}
table, th, td {
    color: rgb(233, 216, 216);
    text-align: center;
}
td, th {
    padding: 3px 10px;
}
table {
    border-collapse: collapse;
    border-style: hidden;
    width: 100%
}
th, td {
    border: 2px solid  rgb(40, 7, 73);
}
