/*blood measurement input form style*/
.new-measurings {
  position: relative;
  top: 26px;
  display: flex;
  flex-direction: column;
  width: 22%;
  transition: opacity 5s;
  margin: auto;
  border: 1px solid black;
  background-image: linear-gradient(rgba(26, 35, 126, 0.3), rgba(106, 27, 154, 0.5));
  box-shadow: 5px 5px 3px;
  border-radius: 20px;
}
.blood-pressure-input {
  padding: 0;
  margin: 0px 15px 0px 15px;
  display: flex;
  flex-direction: column;
}
.blood-pressure-title {
  min-height: 60px;
  padding: 10px;
  position: relative;
  }
.device-screen {
  width: 15%;
  position: absolute;
  z-index: 1;
}
.device-screen h3 {
  text-align: right;
  padding-right: 5px;
  height: 50%;
  line-height: 155%;
  font-weight: 400;
  font-size: 65%;
}
.blood-pressure-title h2 {
  position: relative;
  width: 100%;
  height: 100%;
  padding-left: 10px;
  font-size: 130%;
  color: #fff;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  border-radius: 100px;
  background-image: linear-gradient(rgba(26, 35, 126, 1), rgba(106, 27, 154, 1));
  line-height: 160%;
  text-align: center;
  z-index: 0.1;
}
/*blood pressure input brackets*/
.lower-form {
  padding-bottom: 15px;
}
.formFormat {
  padding: 10px 0px;
  border-top: 2px solid black;
}
.formFormat > div {
  display: flex;
  flex-direction: column;
}