/*blood measurement input form style*/
.new-measurings {
  position: relative;
  top: 100px;
  display: flex;
  flex-direction: column;
  width: 30%;
  left: 35%;
  height: 250px;
  transition: opacity 5s;
}
.blood-pressure-input {
  padding: 0;
  margin: 0 15px;
  border-radius: 20px;
  height: 100%;
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  background-image: linear-gradient(rgba(26, 35, 126, 0.3), rgba(106, 27, 154, 0.5));
  box-shadow: 5px 5px 3px;
  border: 1px solid green;
  margin: 3px 0;
}
.blood-pressure-title {
  min-height: 60px;
  padding: 10px;
  position: relative;
  }
.device-screen {
  width: 15%;
  position: absolute;
  z-index: 1;
}
.device-screen h3 {
  text-align: right;
  padding-right: 5px;
  height: 50%;
  line-height: 155%;
  font-weight: 400;
  font-size: 65%;
}
.blood-pressure-title h2 {
  position: relative;
  width: 100%;
  height: 100%;
  padding-left: 10px;
  font-size: 130%;
  color: #fff;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  border-top-right-radius: 100px;
  border-bottom-right-radius: 100px;
  border-bottom-left-radius: 100px;
  border-top-left-radius: 100px;
  background-image: linear-gradient(rgba(26, 35, 126, 1), rgba(106, 27, 154, 1));
  line-height: 160%;
  text-align: center;
  z-index: 0.1;
}
/*blood pressure input brackets*/
form {
  width: 100%;
  padding: 0 10px;
  flex: 0 1 auto;
  min-height: 85px;
  display: flex;
  flex-direction: column;
}
input {
 text-align: center;
 font-size: 75%;
 height: 32px;
 align-items: center;
}
input[type=submit] {
  border-radius: 5px;
  padding: 4px 10px;
}
#upper-pressure-input-field,
#lower-pressure-input-field {
 border-radius: 10px;
 padding: 4px 5px;
 margin: 7px auto;
}
.submit-multiple-inputs-next,
.submit-multiple-inputs-close {
  width: 100%;
  flex: 1;
  display: flex;
  justify-content: space-evenly;
  padding: 0 10px 10px 10px;
  border-top: 2px solid black;
}
#submit-multiple-inputs-next-id,
#submit-multiple-inputs-close-id {
  background-color: #b5a6ab;
  align-self: flex-end;
}