extends ../../index.pug

block body
    .container
        table.table
            tr
                th Datum
                th Gornji tlak
                th Donji tlak
        tbody
            tr
                each data in sortedData
                    td #{data.id}
