extends ../../index.pug

block body
    // new measurments box
    div.new-measurings(class="visible")
        // blood upper pressure input form
        div.blood-pressure-input
            // title description
            div.blood-pressure-title
                // blood pressure type
                div.device-screen
                    h3.red 120
                    h3.blue-transparent 80
                // 120/80 image rendering
                h2 Gornji tlak
        // textarea
        form
            // input field
            input(type='text', form="submitInputs", name='upperValue', placeholder='Unesi gornji tlak', required='', autofocus='')
        // blood lower pressure input form
        div.blood-pressure-input
            // title description
            div.blood-pressure-title
                div.device-screen
                    h3.red-transparent 120
                    h3.blue 80
                h2 Donji tlak
            // textarea
        form
            input(type='text', form="submitInputs", name='lowerValue', placeholder='Unesi donji tlak', required='')
        // submit input data
        form.formFormat(id="submitInputs" action="/submit" method="post")
            div
                input(type='submit', value='Pohrani unesena mjerenja')
            block content