extends output_with_table.pug

block graphics
    canvas#chart
    script(src='https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js' type='text/javascript')
    script.
        new Chart('chart', {
            type: 'line',
            data: {
                labels: JSON.parse('!{time}'),
                datasets:
                    [{
                        data: JSON.parse('!{upperValues}'),
                        fill: false,
                        borderColor: '#FA3107',
                        backgroundColor: '#FA3107',
                        label: 'Gornji tlak'
                    },
                    {
                        data:  JSON.parse('!{lowerValues}'),
                        fill: false,
                        borderColor: '#0733FA',
                        backgroundColor: '#0733FA',
                        label: 'Donji tlak'
                    }],
            },
            options: {
                scales: {
                    yAxes: [{
                        ticks: {
                            beginAtZero: true
                        }
                    }]
                }
            }
            });
        