extends ../../index.pug

block body
    .render_inputs
        .average_values
            block average
        .graphics
            block graphics
        .no_output
            block no_output
        include get_back.pug
