.last_ten_values_render
    h2 Posljednjih 10 mjerenja
table
    tr
        th Datum
        th Gornji tlak
        th Donji tlak
    each data in sortData
        tr
            td#left #{data.time}
            td #{data.upperValue}
            td#right #{data.lowerValue}