doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    style
      include ./assets/css/style.css
    title Mjerenje tlaka
  body
    // main image and title 
    div.header-title-box
      figure.logo
        img(src='https://www.welchallyn.com/content/dam/welchallyn/images/Product-Images/Cardiopulmonary/Ambulatory-Blood-Pressure-Monitor/ABPM%207100/PWA_icon.png', alt='Heart-rate_logo')
      h1.main-title-text Dijagram mjerenja tlaka
    //login
    block login
    // navigation toolbar
    block body
    
